<button type="button" class="grid-item" data-toggle="modal" data-target="#{{gate_name}}modal"
    style="background-color: #2c58fe; border-color: #2c58fe">
    <img src="{{ url_for('static', filename='gate_icons/' ~ gate_name ~ '.svg') }}" width="25" stroke="black"
        stroke-width="100" /><span style="margin-left: 10px;">{{FormattedGateNames[gate_name]}}</span>
</button>
<div class="modal fade" id="{{gate_name}}modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="{{gate_name}}modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{gate_name}}modalLabel">Apply {{FormattedGateNames[gate_name]}} to Qubit <img
                    src="{{ url_for('static', filename='gate_icons/' ~ gate_name ~ '.svg') }}" width="75" /></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <h3> Control Bits</h3>
                    {% for nr in range(1, q_bits+1) %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="control_bit_{{nr}}" value="{{nr}}" name="control_bit_{{nr}}">
                        <label class="form-check-label" for="control_bit_{{nr}}">{{nr}}</label>
                    </div>
                    {% endfor %}
                    <h3> Target Bit</h3>
                    {% for nr in range(1, q_bits+1) %}
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="target_bit_{{nr}}" value="{{nr}}" name="target_bit_{{nr}}">
                        <label class="form-check-label" for="target_bit_{{nr}}">{{nr}}</label>
                    </div>
                    {% endfor %}
            </div>
            <div class="modal-footer">
               <div class="container">
                    <div class="row">
                        <p>Click a one of these buttons to apply  {{FormattedGateNames[gate_name]}} with a predefined angle:</p> 
                    </div>
                    <div class="row">
                        <div class="form-check col-sm">
                            <button type="button" class="btn btn-default preset-btn" name="{{gate_name}}" data-target="#{{gate_name}}" value="90">90 deg</button>
                        </div>
                        <div class="form-check col-sm">
                            <button type="button" class="btn btn-default preset-btn" name="{{gate_name}}" data-target="#{{gate_name}}" value="180">180 deg</button>
                        </div>
                        <div class="form-check col-sm">
                            <button type="button" class="btn btn-default preset-btn" name="{{gate_name}}" data-target="#{{gate_name}}" value="270">270 deg</button>
                        </div>
                    </div>
                    <div class="row">
                        <p></p>
                        <!-- Some hacky vertical whitespace -->
                    </div>
                    <div class="row">
                        <p>Use this button to apply  {{FormattedGateNames[gate_name]}} with a costum angle:</p> 
                    </div>
                    <div class="row">
                        <div class="form-group form-inline">
                            <div class="form-check col-sm">
                                <input class="form-check-input" type="number" id="{{gate_name}}_angle" name="{{gate_name}}_angle" value="0">
                                <label class="form-check-label" for="{{gate_name}}_angle">deg</label>
                            </div>
                            <div class="form-check col-sm">
                                <button class="btn btn-default btn-success" type="submit" id="{{gate_name}}_submit" name="control" value="{{gate_name}}">Apply</button>
                            </div>
                        </div>
                    </div>
                  </div>
                  </div>

        </div>
    </div>
</div>