<button type="button" class="grid-item" data-toggle="modal" data-target="#{{gate_name}}modal"
    style="background-color: #2c58fe; border-color: #2c58fe">
    <img src="{{ url_for('static', filename='gate_icons/' ~ gate_name ~ '.svg') }}" width="25" stroke="black"
        stroke-width="100" /><span style="margin-left: 10px;">{{FormattedGateNames[gate_name]}}</span>
</button>
<div class="modal fade" id="{{gate_name}}modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="{{gate_name}}modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{gate_name}}modalLabel">Apply {{FormattedGateNames[gate_name]}} to Qubit <img
                    src="{{ url_for('static', filename='gate_icons/' ~ gate_name ~ '.svg') }}" width="75" /></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm">
                    <h3> Control Bits</h3>
                    {% for nr in range(1, q_bits+1) %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="control_bit_{{nr}}" value="{{nr}}" name="control_bit_{{nr}}">
                        <label class="form-check-label" for="control_bit_{{nr}}">{{nr}}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm">
                    <h3> Target Bit</h3>
                    {% for nr in range(1, q_bits+1) %}
                    <div class="form-radio">
                        <input class="form-radio-input" type="radio" id="target_bit_{{nr}}" value="{{nr}}" name="target_bit_{{nr}}">
                        <label class="form-check-label" for="target_bit_{{nr}}">{{nr}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button> -->
                <button class="btn btn-default btn-success" type="submit" name="control" value="{{gate_name}}">Apply</button>
            </div>
        </div>
    </div>
</div>