<button type="button" class="grid-item" data-toggle="modal" data-target="#rx"
    style="background-color: #507289; border-color: #507289">
    <img src="{{ url_for('static', filename='quantuk/Qcircuit_Rxtheta.svg') }}" width="25" /><span
        style="margin-left: 10px;">Rx </span>
</button>
<div class="modal fade" id="rx" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="rxmodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rxmodallabel">Apply Rx to Qubit <img
                        src="{{ url_for('static', filename='quantuk/Qcircuit_Rxtheta.svg') }}" width="75" /></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for nr in range(1, q_bits+1) %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="target_bit_{{nr}}" value="{{nr}}"
                        name="target_bit_{{nr}}">
                    <label class="form-check-label" for="target_bit_{{nr}}">{{nr}}</label>
                </div>
                {% endfor %}
                <label class="form-check-label" for="angle">Angle in Degree</label>
                <input class="form-check-input" type=" number" id="angle" name="angle" value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss
                </button>
                <button class="btn btn-default btn-success" type="submit" name="control" value="rx">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>