<button type="button" class="grid-item" data-toggle="modal" data-target="#writemodal"
    style="background-color:green; border-color:green">
    <span style="margin-left: 10px;">Write Int</span>
</button>
<div class="modal fade" id="writemodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="writemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="writemodalLabel">Describe Qubits</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm">
                    <label class="form-check-label" for="writebit">Write: </label>
                    <input class="form-radio-input" type="number" id="writebit" value="0" min="0" name="write_bit" 
                        max="{{binary_label_list|length-1}}">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss
                </button>
                <button class="btn btn-default btn-success" type="submit" name="control" value="write">
                    Apply
                </button>
            </div>
        </div>
    </div>
</div>