/*----------------sidebar----------------*/
.sidebar-old{
    background: #f3f3f5;
    position:fixed;
    height: 100%;
  }


  .sidebar h4 {
    color: rgb(19, 17, 17);

  }

  .sidebar a, .dropdown-btn {
    color: rgb(131, 128, 128);
    display: block;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;

  }

  .dropdown-container {
    display: none;
    padding-left: 0px;
  }

  .sidebar a:hover  {
    background: #e2e7e7;
  }

  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 20px;
    padding: 20px 10px;
  }

  a.active {
    color: rgb(19, 17, 17);
  }
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #e2e7e7;
    color: rgb(19, 17, 17);
  }

  /*----------------sidebar-content----------------*/
.sidebar-content {
    max-height: calc(100%);
    height: calc(100%);
    overflow-y: auto;
    position: relative;
  }
  .sidebar-content.desktop {
    overflow-y: hidden;
  }

   /*--------------------------sidebar-footer------------------------------*/

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    background: #2b2b2b;
  }
  .sidebar-footer > a {
    flex-grow: 1;
    text-align: center;

    height: 30px;
    line-height: 30px;
    color: #7c818a;
    position: relative;
  }
  .sidebar-footer > a:hover {
    color: #b3b8c1;
  }
  .sidebar-footer > a .notification {
    position: absolute;
    top: 0;
  }

  /*----------------  Scroll bar style   --------------- */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    color: #909094;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #bcbcbe;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #959597;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #a4a4a7;
  }
  ::-webkit-scrollbar-track {
    background: #e7e8e9;
    border: 0px none #ffffff;
    border-radius: 71px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #d5d5d8;
  }
  ::-webkit-scrollbar-track:active {
    background: #d5d5d8;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  /*---------------- Main-content in students profile----------------*/
  .content {
    margin-left: 270px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -100px;
  }

  #check:checked~.content {
    margin-left: 60px;

  }

  #check {
    display: none;
  }

/*----------------3rd navbar inside the students profile----------------*/

  .navbar-3 {
    margin-left: 270px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
  }


/*----------------  Next and previous   --------------- */

  .previous {
    background-color: #f1f1f1;
    color: black;
  }

  .next {
    background-color: #04AA6D;
    color: white;
  }

  .round {
    border-radius: 70%;
  }
/*----------------- Tabs ------------------------*/
 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}   

/********** START Add RATS template  ***********/

.box{
  width:100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 3px;
  border:1px solid lightgray;
  padding-left:10px;
}

.box input{
    flex: 1;
    padding-left: 5px;
    width:244px;
    height:30px;
    position: relative;
    border: none;
    outline: none;
    background-color: unset;
}

.box button{
  width:30px;
  height:30px;
  display: flex;
  position: relative;
  border-radius: 1px;
  align-items: left;
  background-color: lightgray;
  border:1px solid lightgray;

}
/*++++++++++++++++++++++++++++*/
.grid-container{
  display:grid;
  max-width: 100%;
  grid-template-columns: 23% 2% 50% 2% 23%;
}
.container-subject{
  border-radius: 8px; 
  background-color: #09aeae; 
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  padding-right: 20px;
  gap: 10px;
  height: absolute;
}
.ki4tuk_button{
  padding:5px 10px 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  border: none;
  align-items: center;
  text-align: center;
  background-color: #0d69ac;
}
.col1:nth-last-child(1) {
  grid-row-start: 2;
  grid-column: 1 / span 2;
  width: 0px;
  min-width: 100%;
  height: relative;
  margin-top: -30px;

}
/********** END Add RATS template  ***********/

.container_msg {
  /*background-image: linear-gradient(to right, #0d69ac, #1894ee);*/
  background-image: linear-gradient(to right, #48CFAD 40%, #48CFAD 100%);
    perspective: 40px;

  color: white;
  position: relative;
  width: 350px;
  border-radius: 10px;
  padding: 16px 8px 8px;
  box-sizing: border-box;
  float:right;
  border: none;
}

.collapsible1 {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible2 {
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible1:hover {
  background-color: #339900;
}

.content{
 background-color: #f0f9ef;
}






