<!------------------------------------------------------------------------------
    # Created By: Lars Krupp, kruppl@rptu.de
    # Modified By: Nikolas Longen, nlongen@rptu.de
    # Reviewed By: Maximilian Kiefer-Emmanouilidis, maximilian.kiefer@rptu.de
    # Created: March 2023
    # Project: DCN QuanTUK
------------------------------------------------------------------------------>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <style>
        {% include 'style.css' %}
    </style>

    <link rel="icon" href="{{ url_for('static', filename='gate_icons/cnot.svg') }}">

    <title>DCN-Webtool</title>

</head>

<body>
    {% include 'includes/wip_alert.html' %}

    <form class="form" action="" method="POST" name="answers">

        <input type="hidden" name="simulator" value="{{ simulator }}" />
        <h5 class="text" id="packet_title"><u>{{packet_title}}</u></h5>
        <br>
        <h4 class="text" id="rat_question">{{rat_question}}</h4>
        <br />

        <div class="container">

            {% include 'includes/sidebar.html' %}

            <div class="main-content">
                {% if visualized != None %}
                <div class="container">
                    <div class="main" id="image">
                        <div class="row">
                            <div class="card card-body">
                                <img src='data:image/png;base64,{{visualized}}' style="width:100%; height:auto" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                {% if read_output != None %}
                                {{read_output.replace("\n", "</br>") | safe }}
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="main" id="buttons">
                    <div class="grid-container">
                        {% include 'includes/gates/write_int.html' %}
                        {% include 'includes/gates/write_complex.html' %}
                        <!-- Use general template for all simple gates -> the one where target qubits have to be selected -->
                        {% with gate_name='read' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        <div class="grid-item white-box"></div>
                        {% include 'includes/gates/check_seperability.html' %}
                        <div class="grid-item white-box"></div>
                        {% include 'includes/gates/set_global_phase_0.html' %}

                        {% with gate_name='x' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        <div class="grid-item white-box"></div>
                        {% with gate_name='y' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        <div class="grid-item white-box"></div>   
                        {% with gate_name='z' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        {% with gate_name='rootz' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        <!-- Use general template for all phase gates -> where qubits have to be selected and one angle is needed-->
                        {% with gate_name='cz' %}
                            {% include "includes/gates/controlled_gate.html" %}
                        {% endwith %}
                        {% with gate_name='rootx' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        {% with gate_name='had' %}
                            {% include "includes/gates/gate.html" %}
                        {% endwith %}
                        {% include 'includes/gates/swap.html' %}
                        <!-- Use general template for all phase gates -> where qubits have to be selected and one angle is needed-->
                        {% with gate_name='phase' %}
                            {% include "includes/gates/phase.html" %}
                        {% endwith %}
                        {% with gate_name='rx' %}
                            {% include "includes/gates/phase.html" %}
                        {% endwith %}
                        {% with gate_name='ry' %}
                            {% include "includes/gates/phase.html" %}
                        {% endwith %}
                        {% with gate_name='rz' %}
                            {% include "includes/gates/phase.html" %}
                        {% endwith %}
                        <!-- Use templates for all simple controlled gates  -->
                        {% with gate_name='cnot' %}
                            {% include "includes/gates/controlled_gate.html" %}
                        {% endwith %}
                        {% with gate_name='chad' %}
                            {% include "includes/gates/controlled_gate.html" %}
                        {% endwith %}
                        {% include 'includes/gates/cSwap.html' %}
                        <!-- Use templates for all simple controlled phase gates  -->
                        {% with gate_name='cphase' %}
                            {% include "includes/gates/controlled_phase.html" %}
                        {% endwith %}
                        {% with gate_name='crx' %}
                            {% include "includes/gates/controlled_phase.html" %}
                        {% endwith %}

                        {% with gate_name='cry' %}
                            {% include "includes/gates/controlled_phase.html" %}
                        {% endwith %}
                        {% with gate_name='crz' %}
                            {% include "includes/gates/controlled_phase.html" %}
                        {% endwith %}
                    </div>
                </div>
                {% endif %}
            </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        function openNav() {
            const currentState = 'expanded';
            setSidebarState(currentState);
            localStorage.setItem('sidebarState', currentState);
            document.getElementById("myUpperNav").style.height = "0";
        }

        function closeNav() {
            const currentState = 'collapsed';
            setSidebarState(currentState);
            localStorage.setItem('sidebarState', currentState);
            document.getElementById("myUpperNav").style.height = "55px";
        }
        function closeWarning() {
            const warningState = 'collapsed';
            setSidebarState(currentState);
            localStorage.setItem('sidebarState', currentState);
            document.getElementById("myUpperNav").style.height = "55px";
        }
    </script>
    <script>
        const sidebar = document.getElementById('mySidebar');
        function setSidebarState(state) {
            if (state === 'collapsed') {
                sidebar.classList.add('collapsed');
                document.getElementById("myUpperNav").style.height = "55px";
            } else {
                sidebar.classList.remove('collapsed');
                document.getElementById("myUpperNav").style.height = "0";
            }

            // Store the current state in localStorage
            localStorage.setItem('sidebarState', state);
        }

        setTimeout(function () {
            const sidebarState = localStorage.getItem('sidebarState') || 'expanded';
            setSidebarState(sidebarState);
        }, 10);
    </script>


</body>

</html>